*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    background: rgb(238, 229, 229);
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(12, 133, 245);
    position: sticky;
    top: 0;
    z-index: 1;
}
.left-navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 10px;
    position: relative;
  justify-content: center;
  align-items: center;
}
.left-navbar .menu ul{
 display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}
.left-navbar .logo-image{
    width: 150px;
}
.left-navbar .menu{
    margin-left: 25px;
}
.left-navbar .menu ul li{
       padding: 0 15px;
}
.left-navbar .menu ul li a img{
         width: 28px;
}
.right-navbar{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;

}
.search-box{
  background: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.search-box img{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{ 
     flex-basis: 25%;
     position:sticky;
     top: 70px;
     align-self: flex-start;

}
.right-sidebar{ 
    flex-basis: 25%;
    position:sticky;
    top: 70px;
    align-self: flex-start;
    background: white;
    padding: 25;
}
.main-content{
    flex-basis: 47%;    
    height: 1000px;
}
.imp-links a, .shortcut-links a{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    color: #626262;
    width: fit-content;
} 
.imp-links a img{
    width: 25px;
    margin-right: 15px;
}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-links p{
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}
.sidebar-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event P{
    font-size: 12px;
}
.event a {
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}
.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width: 40px;
    border-radius: 50%;
}
.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online::after{
    top: unset;
    bottom: 5;
}